<span style='color: #000' title='Frames'>    95</span><span style='color: #009' title='Memory'>   9472.00 KB</span><span style='color: #900' title='Time'>   2806.36 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />